CREATE TABLE students (sid INT AUTO_INCREMENT PRIMARY KEY, firstname VARCHAR(50) NOT NULL, lastname VARCHAR(50) NOT NULL, email VARCHAR(100) UNIQUE NOT NULL, password VARCHAR(255) NOT NULL, gender ENUM('Male', 'Female', 'Other') NOT NULL, dob DATE NOT NULL);
