body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fcf0;
}

header {
    background-color: #41118e;
    color: #c4fcf0;
    padding: 1rem;
    text-align: center;
}

.sidebar {
    width: 200px;
    background-color: #41118e;
    color: #c4fcf0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 1rem;
}

.sidebar ul li a {
    color: #c4fcf0;
    text-decoration: none;
}

.main-content {
    margin-left: 200px;
    padding: 2rem;
    color: #4b4453;
}

footer {
    background-color: #41118e;
    color: #c4fcf0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -200px;
}